@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    @apply box-border transition-all antialiased 
  }
  body {
    @apply bg-fourth
  }
  p, h1, h2, h3, h4, h5 {
    @apply text-eigth cursor-default text-xl
  }
  h1 {
    @apply text-2xl font-bold
  }
  h2 {
    @apply cursor-pointer text-2xl font-bold hover:text-third
  }
  button {
    @apply cursor-pointer
  }
  *::-webkit-scrollbar {
    @apply w-2 md:w-1.5;
  }
  *::-webkit-scrollbar-thumb {
    @apply bg-first;
  } 
  input:-webkit-autofill,
  input:-webkit-autofill:hover,
  input:-webkit-autofill:focus,
  textarea:-webkit-autofill,
  textarea:-webkit-autofill:hover,
  textarea:-webkit-autofill:focus,
  select:-webkit-autofill,
  select:-webkit-autofill:hover,
  select:-webkit-autofill:focus {
    -webkit-text-fill-color: white;
    box-shadow: 0 0 0px 1000px #545454 inset;
    transition: background-color 5000s ease-in-out 0s;
    color: white;
  }
}
